body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 50px 500px;
    text-align: center;
}

legend {
    background-color: sandybrown;
    padding: 10px;
    border-radius: 50%;
}

form {
    padding: 30px 0;
    box-shadow: 0 5px 29px rgba(0, 0, 0, 0.9);
}

form label {
    background-color: antiquewhite;
}

input[type="submit"], input[type="reset"] {
    background-color: sandybrown;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
}

fieldset {
    border: none;
    padding-top: 10px;
}
